<div align="center">
<h1>
	What does your name mean?
</h1>

<h2>
	<%= link_to 'Tell us here!', new_quote_path %>
</h2>
</div>

<% @quotes.each do |quote| %>
  <div>
    <h1><%= quote.fname %></h1><br />
    <i><%= quote.definition %></i><br />
  </div>

  <hr />
<% end %>