<div align="center">
<h1>
	Quiz 1: What is a Fahad?
</h1>
</div>

<div style="float:right;">
	<%= image_tag 'lion.jpg', :class => 'img-responsive' %>
</div>

<div class="col-xs-4 about_fahad">
	<h2>
		What is up with my name?
	</h2>
	<p>
		"Fahad" means lion or tiger in arabic, and I figured I'd share a picture of a lion with you to show you what a lion looks like.
	</p>
</div>

<br class="clear">
